---
import Layout from '../../layouts/Layout.astro';
import ClockTest from '../../components/ClockTest.svelte';
---

<Layout title="Test sur 1 minute de la lecture de l'heure">
  <h2>Le test <span class="text-primary">sur 1 minute</span></h2>
  <div class="exercice">
		<ClockTest client:only="svelte" />
  </div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	h2 {
		text-align: center;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.exercice {
		padding: 2rem 0;
	}
	p {
		text-align: center;
	}
</style>
