---
import Layout from '../../layouts/Layout.astro';
import Exercices from '../../components/Exercices.astro';
---

<Layout title="Apprendre à lire l'heure plus rapidement">
	<h1>Bienvenue sur <span class="text-primary">Faster Watch</span></h1>
	<p class="m-2">
		Ce site vous aidera à apprendre à lire l'heure beaucoup plus rapidement grâce à des exercices interactifs et des articles de blog.
	</p>
	<div>
		<h2>Découvrez nos exercices :</h2>
	</div>
	<Exercices />
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-primary {
		color: var(--primary);
	}
	.m-2 {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
</style>
