---
import Layout from '../../layouts/Layout.astro';
import TimeConversion from '../../components/12to24.svelte';
---

<Layout title="Welcome to Astro.">
	<h2>Conversion <span class="text-primary">12h vers 24h</span></h2>
	<div class="exercice">
		<TimeConversion url={Astro.url} client:only="svelte" />
	</div>
	<p>
		This exercise will help those who are not used to reading analog time.<br />
	</p>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	h2 {
		text-align: center;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.exercice {
		padding: 2rem 0;
	}
	p {
		text-align: center;
	}
</style>
