---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import TimeConversion from '../../components/12to24.svelte';
---

<Layout title="Welcome to Astro.">
	<main>
		<h2>Conversion <span class="text-primary">12h vers 24h</span></h2>
		<div class="exercice">
			<TimeConversion url={Astro.url} client:only="svelte" />
		</div>
		<p>
			Cet exercice aidera ceux qui n'ont pas l'habitude de lire l'heure analogique.<br />
			<br />
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	h2 {
		text-align: center;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.exercice {
		padding: 2rem 0;
	}
</style>
