---
import Layout from '../layouts/Layout.astro';
---

<script>
  // Detecte la langue préférée de l'utilisateur et redirige vers /fr ou /en
  const userLang = navigator.language;
  if (userLang.startsWith('fr')) {
    window.location.href = "/fr";
  } else {
    window.location.href = "/en";
  }
</script>

<meta http-equiv="refresh" content="0;url=/en/" />

<Layout title="Redirection">
  <main>
    <h1>Redirection...</h1>
    <p>Vous allez être redirigé vers la version de ce site adaptée à vos préférences linguistiques.</p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  p {
    line-height: 1.6;
    margin: 1rem 0;
  }
</style>
