<article>
	<a href={`${Astro.props.slug}`}>
		<h2>{Astro.props.title}</h2>
		<p>{Astro.props.date}</p>
	</a>
</article>

<style>
a {
  /* font-size: 1.5rem; */
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--primary-hover);
}

article {
	margin: 1rem 0;
}

p {
	color: rgb(207, 207, 207);
	transition: all .4s ease-in-out,padding .2s ease-in-out,font-weight 0s linear; 
}

a:hover p {
	color: white;
}
</style>