---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import LanguagePicker from './LanguagePicker.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<style>
  footer {
    background-color: black;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    border-top: 2px solid white;
  }

  .footer-content {
    margin-bottom: 20px;
  }
</style>

<footer>
  <div class="footer-content">
    <p>&copy; {t("footer")}</p>
  </div>
  <LanguagePicker />
</footer>
