---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<nav class="navbar">
  <a href={`/${lang}/`} class="navbar-brand">Faster Watch</a>
  <ul class="navbar-menu">
    <li><a href={`/${lang}/learn/`}>{t('nav.learn')}</a></li>
    <li><a href={`/${lang}/blog/`}>{t('nav.blog')}</a></li>
  </ul>
</nav>

<style>
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid white;
  background-color: black;
}

.navbar-brand {
  font-size: 1.5rem;
  color: var(--primary);
  text-decoration: none;
}

.navbar-brand:hover {
  color: var(--primary-hover);
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-left: 1rem;
}

.navbar-menu a {
  color: #fff;
  text-decoration: none;
}

.navbar-menu a:hover {
  text-decoration: underline;
}
</style>