---
import Layout from '../../layouts/Layout.astro';
import BlogPost from '../../components/BlogPost.astro';

import { getCollection } from 'astro:content';
import { languages } from '../../i18n/ui';

const { lang } = Astro.params;
const posts = await getCollection('blog', ({ id, data }) => {
  return data.draft !== true && id.startsWith(lang + '/');
});

const urlPrefix = '/' + lang + '/blog/';

const formattedPosts = posts.map((post) => {
  const url = urlPrefix + post.slug.replace(lang + '/', '');
  return { ...post, url };
});

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => {
    return { params: { lang } };
  });
}
---

<Layout title="Blog">
  <div>
    <h1>Blog</h1>
    <div>
      {formattedPosts.map((post) => (
        <BlogPost
          key={post.slug}
          title={post.data.title}
          date={post.data.date}
          slug={post.url}
        />
      ))}
    </div>
  </div>
</Layout>
