---
import Navbar from '../components/NavBar.astro';
import LanguagePicker from '../components/LanguagePicker.astro';
import { getLangFromUrl } from '../i18n/utils';

export interface Props {
	title: string;
}

const { title } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
  	<Navbar />
		<main>
			<slot />
		</main>
		<footer>
			<LanguagePicker />
		</footer>
	</body>
</html>

<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure, blockquote {
		margin: 0;
		padding: 0;
	}
	body {
		margin: 0;
	}
	main {
		margin: 0 auto;
		padding: 2rem;
		max-width: 960px;
	}
	nav {
		background-color: #333;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
