---
import { getCollection } from 'astro:content';
import Layout from '../../../layouts/Layout.astro';

export async function getStaticPaths() {
  const pages = await getCollection('blog');

  const paths = pages.map((page) => {
    const lang = page.data.lang;
    const slug = page.data.slug;
    return { params: { lang, slug }, props: page };
  });

  return paths;
}

const { lang, slug } = Astro.params;
const page = Astro.props;
const formattedDate = page.data.date.toLocaleString(lang);

const { Content } = await page.render();
---

<Layout title="Articles">
  <h1>{page.data.title}</h1>
  <p>by {page.data.author} • {formattedDate}</p>
  <Content />
</Layout>